.navbar {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.2rem;
  margin-bottom: 2rem;
  background: rgba(12, 12, 12, 0.904);

  position: sticky;
  top: 0;
  z-index: 100;

  border-bottom: #318ef8a6 2px solid;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    padding: 1rem 0.5rem;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5rem;

    @media screen and (max-width: 768px) {
      margin-left: 0;
      margin-bottom: 1rem;
    }


    img {
      width: 100px;
      height: 100px;
    
    }
  }

  .links {
    display: flex;

    gap: 1.5rem;

    a {
      text-transform: uppercase;
      padding: 5px;
      transition: color 0.15s ease, border-color 0.15s ease;
      color: #fff;

      &:hover {
        color: #0070f3;
      }
      

      &::after{
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background: #0070f3;
        transition: width .3s;
      }

      &:hover::after{
        width: 100%;

      }
    }


  }

  .search {
   //create input search style here
   display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
    input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    font-size: 1.2rem;
    padding: 0.5rem;
    border-bottom: 1px solid #fff;
    transition: border-bottom 0.3s ease;
    
    &:focus {
      border-bottom: 1px solid #0070f3;
    }

    



  }

  button {
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
  }
  }

}


.favorite {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}